Repository alerrian/adopt_dont_shop_paired, pull requests merged in 2020-02, with the labels that each got.

#8 Feature: User story 2, shelter show page has reviews
  app/controllers/reviews_controller.rb
  app/models/review.rb
  app/models/shelter.rb
  app/views/reviews/index.html.erb
  app/views/shelters/show.html.erb
  config/routes.rb
  db/migrate/20200205000201_create_reviews.rb
  db/migrate/20200205021332_add_image_to_reviews.rb
  db/migrate/20200205022157_add_shelters_to_reviews.rb
  db/schema.rb
  db/seeds.rb
  spec/features/models/review_spec.rb
  spec/features/models/shelters_spec.rb
  spec/features/reviews/review_index_page_spec.rb
  spec/features/reviews/user_can_see_reviews_on_shelter_show_page_spec.rb
Labels: Shelter Reviews

#11 Feature: User Story 5, user can edit review
  .gitignore
  app/controllers/reviews_controller.rb
  app/views/reviews/edit.html.erb
  app/views/shelters/show.html.erb
  config/routes.rb
  spec/features/reviews/user_can_edit_review_from_shelter_show_spec.rb
Labels: Shelter Reviews

#12 Feature: User Story 6, verify review edit is filled as expected
  app/controllers/reviews_controller.rb
  app/views/reviews/index.html.erb
  app/views/reviews/new.html.erb
  app/views/shelters/show.html.erb
  db/seeds.rb
  spec/features/reviews/user_can_create_a_new_review_spec.rb
  spec/features/reviews/user_can_edit_review_from_shelter_show_spec.rb
  spec/features/reviews/user_can_see_reviews_on_shelter_show_page_spec.rb
Labels: Shelter Reviews

#32 Pa/favorites
  app/controllers/application_controller.rb
  app/controllers/favorites_controller.rb
  app/controllers/pets_controller.rb
  app/models/application_record.rb
  app/models/favorite.rb
  app/views/favorites/index.html.erb
  app/views/layouts/application.html.erb
  app/views/pets/index.html.erb
  app/views/pets/show.html.erb
  config/routes.rb
  spec/features/favorites/user_can_add_to_favorites_spec.rb
  spec/features/models/favorite_spec.rb
Labels: Favorite Pet

#33 Feature: Favorite Pets, User Story 10, 11, 14
  app/controllers/favorites_controller.rb
  app/views/favorites/index.html.erb
  app/views/pets/show.html.erb
  config/routes.rb
  spec/features/favorites/favorite_pets_index_spec.rb
Labels: Favorite Pet

#36 Feature: User Story 16, 17
  app/controllers/adoptions_controller.rb
  app/controllers/pet_adoptions_controller.rb
  app/controllers/reviews_controller.rb
  app/models/adoption.rb
  app/models/pet.rb
  app/models/pet_adoption.rb
  app/views/adoptions/new.html.erb
  app/views/favorites/index.html.erb
  config/routes.rb
  db/migrate/20200210022122_create_adoptions.rb
  db/migrate/20200210022208_create_pet_adoptions.rb
  db/schema.rb
  spec/features/applications/user_can_see_link_to_apply_for_pets_spec.rb
  spec/features/models/adoptions_spec.rb
  spec/features/models/pet_adoptions_spec.rb
  spec/features/models/pets_spec.rb
Labels: Apply for Pets

#37 Pa/applications 4
  app/controllers/adoptions_controller.rb
  app/views/adoptions/show.html.erb
  config/routes.rb
  spec/features/applications/user_can_nav_to_single_app_show_page_spec.rb
Labels: Apply for Pets

#38 Feature: User Story 18, list all pets with applications on favorites index
  app/controllers/favorites_controller.rb
  app/views/favorites/index.html.erb
  config/routes.rb
  db/seeds.rb
  spec/features/favorites/fav_index_with_pet_app_list_spec.rb
  spec/features/favorites/user_cant_add_pet_to_favorites_twice_spec_and_delete_methods_spec.rb
Labels: Apply for Pets

#39 Pa/applications 5
  app/controllers/adoptions_controller.rb
  app/views/adoptions/index.html.erb
  app/views/pets/show.html.erb
  config/routes.rb
  spec/features/applications/user_can_see_app_show_page_per_pet_spec.rb
Labels: Apply for Pets

#40 Feature: User story 21, Add message for no user stories
  app/views/adoptions/index.html.erb
  spec/features/applications/user_can_see_app_show_page_per_pet_spec.rb
Labels: Apply for Pets

#42 Feature: User Story 22, add ability to approve applications
  app/controllers/pet_adoptions_controller.rb
  app/views/adoptions/index.html.erb
  app/views/adoptions/show.html.erb
  app/views/pets/show.html.erb
  config/routes.rb
  db/seeds.rb
  spec/features/applications/user_can_approve_an_app_spec.rb
Labels: Apply for Pets

#43 Feature: User story 24, add flash message to show cannot approve pet more than once
  app/controllers/pet_adoptions_controller.rb
  spec/features/applications/user_can_approve_an_app_spec.rb
Labels: Apply for Pets

#45 Feature: User Story 26, cannot delete shelter with pending pets
  app/controllers/shelters_controller.rb
  spec/features/shelters/user_cannot_delete_shelter_with_pending_pets_spec.rb
Labels: Apply for Pets

#46 Feature: user story 27/28, deleting all reviews and pets when deleting a shelter
  app/controllers/shelters_controller.rb
  spec/features/shelters/user_can_delete_a_shelter_spec.rb
  spec/features/shelters/user_cannot_delete_shelter_with_pending_pets_spec.rb
Labels: Shelters

#47 Feature: User Story 29, show flash message
  app/controllers/shelters_controller.rb
  spec/features/shelters/user_can_create_new_shelter_spec.rb
  spec/features/shelters/user_can_update_shelter_info_spec.rb
Labels: Shelters

#49 Feature: User Story 30, shelter stats
  app/controllers/pet_adoptions_controller.rb
  app/models/shelter.rb
  app/views/shelters/show.html.erb
  spec/features/shelters/user_sees_single_shelter_info_spec.rb
Labels: Shelters

#52 Adding test and functionality for delete pets from favs"
  app/controllers/pets_controller.rb
  app/models/favorite.rb
  spec/features/pets/user_can_delete_a_pet_from_show_page_spec.rb
Labels: Usability, pets
